<h1>Home</h1>
<% if player_signed_in? %>
<div>
  <div>
    <strong>Targeted Content</strong><br>
  </div>
</div>
<% else %>
<div>
  <div>
    <strong>Generic Content</strong><br>
  </div>
</div>
<% end %>
