<h1>Games Index</h1>
<div>
  <div>
    <strong>White Games</strong><br>
  <% @white_games.each do |game| %>
    <%= game.name %><br>
  <% end %>
  </div>
  <div>
    <strong>Black Games</strong><br>
  <% @black_games.each do |game| %>
    <%= game.name %><br>
  <% end %>
  </div>
</div>
